# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg
.eggs
.installed.cfg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo

# Related to Desktops and OS
.DS_Store
.AppleDouble
.LSOverride
._*
.~
.bak
*.swp
*.swo
*.swn

# VCS and DVCS
.svn

# Common IDE's
.idea
.project
.pydevproject
.ropeproject

# Sphinx documentation
docs/_build/

# Virtualenv
.python-version
.env/

# dbm stuff
tests/thumbnail_kvstore
tests/thumbnail_kvstore.db
tests/thumbnail_kvstore.lock

# test related
.coverage
.tox
htmlcov/
coverage.xml
