language: python
dist: xenial
python:
  - 3.6
  - 3.7
  - 3.8
env:
  - TOXENV=qa

  - DJANGO=1.11 PACKAGE=pil
  - DJANGO=1.11 PACKAGE=imagemagick
  - DJANGO=1.11 PACKAGE=graphicsmagick
  - DJANGO=1.11 PACKAGE=redis
  - DJANGO=1.11 PACKAGE=wand
  - DJANGO=1.11 PACKAGE=dbm

  - DJANGO=2.2  PACKAGE=pil
  - DJANGO=2.2  PACKAGE=imagemagick
  - DJANGO=2.2  PACKAGE=graphicsmagick
  - DJANGO=2.2  PACKAGE=redis
  - DJANGO=2.2  PACKAGE=wand
  - DJANGO=2.2  PACKAGE=dbm

  - DJANGO=3.0  PACKAGE=pil
  - DJANGO=3.0  PACKAGE=imagemagick
  - DJANGO=3.0  PACKAGE=graphicsmagick
  - DJANGO=3.0  PACKAGE=redis
  - DJANGO=3.0  PACKAGE=wand
  - DJANGO=3.0  PACKAGE=dbm
jobs:
  include:
    - stage: deploy
      env:
      python: 3.6
      script: skip
      deploy:
        provider: pypi
        user: jazzband
        server: https://jazzband.co/projects/sorl-thumbnail/upload
        distributions: sdist bdist_wheel
        password:
          secure: BZlzJyqEbo1nofxEqeE12EyIcM6ldJL40yDRo62qk1dBirUV+eJQN3kTJtKTqVgTMRalQJKqMZgbhWtvxo2wsuBx+JW3LlfjYuY/fNzj/+5x7Tq/NEy4HyBj4RdWdincmdvQ0n4ixar6cDr79KjHUzC9Db3psbTRE6+Vw0EJTM4=
        skip_existing: true
        on:
          tags: true
          repo: jazzband/sorl-thumbnail
          python: 3.6
addons:
  apt:
    packages:
      - libgraphicsmagick1-dev
      - graphicsmagick
      - libjpeg62
      - zlib1g-dev
cache:
  pip: true
after_failure:
  - cat /home/travis/.pip/pip.log
after_success:
  - coveralls
install:
  - pip install tox-travis coveralls
script:
  - env | sort
  - tox
services:
  - redis-server
notifications:
  email: false

