language: python

python:
  - "3.4"

cache:
  pip:
  apt:
  directories:
    - .tox

env:
  - TOXENV=py27-django18-pil APT='libjpeg62 libjpeg62-dev zlib1g-dev'
  - TOXENV=py27-django18-imagemagick APT=imagemagick
  - TOXENV=py27-django18-graphicsmagick APT=graphicsmagick
  - TOXENV=py27-django18-redis
  - TOXENV=py27-django18-wand
  - TOXENV=py27-django18-pgmagick APT='libgraphicsmagick++1-dev libboost-python-dev'
  - TOXENV=py27-django18-dbm
  - TOXENV=py34-django18-pil APT='libjpeg62 libjpeg62-dev zlib1g-dev'
  - TOXENV=py34-django18-imagemagick APT=imagemagick
  - TOXENV=py34-django18-graphicsmagick APT=graphicsmagick
  - TOXENV=py34-django18-redis
  - TOXENV=py34-django18-wand
  - TOXENV=py34-django18-dbm
  - TOXENV=py34-django19-pil APT='libjpeg62 libjpeg62-dev zlib1g-dev'
  - TOXENV=py34-django19-imagemagick APT=imagemagick
  - TOXENV=py34-django19-graphicsmagick APT=graphicsmagick
  - TOXENV=py34-django19-redis
  - TOXENV=py34-django19-wand
  - TOXENV=py34-django19-dbm
  - TOXENV=py34-django110-pil APT='libjpeg62 libjpeg62-dev zlib1g-dev'
  - TOXENV=py34-django110-imagemagick APT=imagemagick
  - TOXENV=py34-django110-graphicsmagick APT=graphicsmagick
  - TOXENV=py34-django110-redis
  - TOXENV=py34-django110-wand
  - TOXENV=py34-django110-dbm

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq $APT

after_failure:
  - cat /home/travis/.pip/pip.log

after_success: coveralls

install:
  - pip install -q flake8 tox coveralls

script:
  - env | sort
  - tox
  - flake8 --show-source sorl/

services:
  - redis-server

notifications:
  email: false
