language: python

python:
  - "3.4"

env:
  - TOX_ENV=py27-django14-pil APT='libjpeg62 libjpeg62-dev zlib1g-dev'
  - TOX_ENV=py27-django14-imagemagick APT=imagemagick
  - TOX_ENV=py27-django14-graphicsmagick APT=imagemagick
  - TOX_ENV=py27-django14-redis
  - TOX_ENV=py27-django14-wand
  - TOX_ENV=py27-django14-pgmagick
  - TOX_ENV=py27-django14-dbm
  - TOX_ENV=py27-django15-pil APT='libjpeg62 libjpeg62-dev zlib1g-dev'
  - TOX_ENV=py27-django15-imagemagick APT=imagemagick
  - TOX_ENV=py27-django15-graphicsmagick APT=imagemagick
  - TOX_ENV=py27-django15-redis
  - TOX_ENV=py27-django15-wand
  - TOX_ENV=py27-django15-pgmagick
  - TOX_ENV=py27-django15-dbm
  - TOX_ENV=py27-django16-pil APT='libjpeg62 libjpeg62-dev zlib1g-dev'
  - TOX_ENV=py27-django16-imagemagick APT=imagemagick
  - TOX_ENV=py27-django16-graphicsmagick APT=imagemagick
  - TOX_ENV=py27-django16-redis
  - TOX_ENV=py27-django16-wand
  - TOX_ENV=py27-django16-pgmagick
  - TOX_ENV=py27-django16-dbm
  - TOX_ENV=py27-django17-pil APT='libjpeg62 libjpeg62-dev zlib1g-dev'
  - TOX_ENV=py27-django17-imagemagick APT=imagemagick
  - TOX_ENV=py27-django17-graphicsmagick APT=imagemagick
  - TOX_ENV=py27-django17-redis
  - TOX_ENV=py27-django17-wand
  - TOX_ENV=py27-django17-pgmagick
  - TOX_ENV=py27-django17-dbm
  - TOX_ENV=py34-django15-pil APT='libjpeg62 libjpeg62-dev zlib1g-dev'
  - TOX_ENV=py34-django15-imagemagick APT=imagemagick
  - TOX_ENV=py34-django15-graphicsmagick APT=imagemagick
  - TOX_ENV=py34-django15-redis
  - TOX_ENV=py34-django15-wand
  - TOX_ENV=py34-django15-pgmagick
  - TOX_ENV=py34-django15-dbm
  - TOX_ENV=py34-django16-pil APT='libjpeg62 libjpeg62-dev zlib1g-dev'
  - TOX_ENV=py34-django16-imagemagick APT=imagemagick
  - TOX_ENV=py34-django16-graphicsmagick APT=imagemagick
  - TOX_ENV=py34-django16-redis
  - TOX_ENV=py34-django16-wand
  - TOX_ENV=py34-django16-pgmagick
  - TOX_ENV=py34-django16-dbm
  - TOX_ENV=py34-django17-pil APT='libjpeg62 libjpeg62-dev zlib1g-dev'
  - TOX_ENV=py34-django17-imagemagick APT=imagemagick
  - TOX_ENV=py34-django17-graphicsmagick APT=imagemagick
  - TOX_ENV=py34-django17-redis
  - TOX_ENV=py34-django17-wand
  - TOX_ENV=py34-django17-pgmagick
  - TOX_ENV=py34-django17-dbm

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq $APT

after_failure:
  - cat /home/travis/.pip/pip.log

after_success:
  - coveralls

install:
  - pip install -U pip
  - pip install -q coveralls flake8 tox

script:
  - tox -e $TOX_ENV
  - flake8 --show-source sorl/

services:
  - redis-server

notifications:
  irc:
    channels:
      - "irc.freenode.org#sorl-thumbnail"
    on_success: change
    on_failure: change
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/b368c47d69637f9a01a0
    on_success: change
    on_failure: change
    on_start: false     # default: false
