language: python

python:
  - "2.7"
  - "3.3"

env:
  - DJANGO_VERSION=">=1.5,<1.6" SETTINGS=pil APT='libjpeg62 libjpeg62-dev zlib1g-dev'
  - DJANGO_VERSION=">=1.5,<1.6" SETTINGS=imagemagick APT=imagemagick
  - DJANGO_VERSION=">=1.5,<1.6" SETTINGS=graphicsmagick APT=graphicsmagick
  - DJANGO_VERSION=">=1.5,<1.6" SETTINGS=wand APT=libmagickwand-dev PIP=wand
  - DJANGO_VERSION=">=1.5,<1.6" SETTINGS=redis PIP=redis

  - DJANGO_VERSION=">=1.6,<1.7" SETTINGS=pil APT='libjpeg62 libjpeg62-dev zlib1g-dev'
  - DJANGO_VERSION=">=1.6,<1.7" SETTINGS=imagemagick APT=imagemagick
  - DJANGO_VERSION=">=1.6,<1.7" SETTINGS=graphicsmagick APT=graphicsmagick
  - DJANGO_VERSION=">=1.6,<1.7" SETTINGS=wand APT=libmagickwand-dev PIP=wand
  - DJANGO_VERSION=">=1.6,<1.7" SETTINGS=redis PIP=redis

  - DJANGO_VERSION=">=1.7,<1.8" SETTINGS=pil APT='libjpeg62 libjpeg62-dev zlib1g-dev'
  - DJANGO_VERSION=">=1.7,<1.8" SETTINGS=imagemagick APT=imagemagick
  - DJANGO_VERSION=">=1.7,<1.8" SETTINGS=graphicsmagick APT=graphicsmagick
  - DJANGO_VERSION=">=1.7,<1.8" SETTINGS=wand APT=libmagickwand-dev PIP=wand
  - DJANGO_VERSION=">=1.7,<1.8" SETTINGS=redis PIP=redis

matrix:
  include:
    - python: "2.7"
      env:
        - DJANGO_VERSION=">=1.4,<1.5" SETTINGS=pil APT='libjpeg62 libjpeg62-dev zlib1g-dev'

    - python: "2.7"
      env:
        - DJANGO_VERSION=">=1.4,<1.5" SETTINGS=imagemagick APT=imagemagick

    - python: "2.7"
      env:
        - DJANGO_VERSION=">=1.4,<1.5" SETTINGS=graphicsmagick APT=graphicsmagick

    - python: "2.7"
      env:
        - DJANGO_VERSION=">=1.4,<1.5" SETTINGS=wand APT=libmagickwand-dev PIP=wand

    - python: "2.7"
      env:
        - DJANGO_VERSION=">=1.4,<1.5" SETTINGS=redis PIP=redis

    - python: "2.7"
      env:
        - DJANGO_VERSION=">=1.4,<1.5" SETTINGS=pgmagick APT='libgraphicsmagick++-dev libboost-python-dev libboost-thread-dev'
        - PIP=pgmagick

    - python: "2.7"
      env:
        - DJANGO_VERSION=">=1.5,<1.6" SETTINGS=pgmagick APT='libgraphicsmagick++-dev libboost-python-dev libboost-thread-dev'
        - PIP=pgmagick

    - python: "2.7"
      env:
        - DJANGO_VERSION=">=1.6,<1.7" SETTINGS=pgmagick APT='libgraphicsmagick++-dev libboost-python-dev libboost-thread-dev'
        - PIP=pgmagick

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq $APT

after_failure:
  - pip freeze
  - cat /home/travis/.pip/pip.log

after_success:
  - pip freeze
  - coveralls

install:
  - pip install -U pip
  - pip install -q coveralls
  - pip install -q Pillow $PIP
  - pip install -q Django$DJANGO_VERSION

script:
  - cd tests && coverage run --source=sorl runtests.py --settings=settings.$SETTINGS

services:
  - redis-server

branches:
  only:
    - master

notifications:
  irc:
    channels:
      - "irc.freenode.org#sorl-thumbnail"
    on_success: change
    on_failure: change
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/b368c47d69637f9a01a0
    on_success: change
    on_failure: change
    on_start: false     # default: false
