language: python

python:
  - "3.4"

cache:
  pip:
  apt:
  directories:
    - .tox

env:
  - TOX_ENV=py27-django18-pil APT='libjpeg62 libjpeg62-dev zlib1g-dev'
  - TOX_ENV=py27-django18-imagemagick APT=imagemagick
  - TOX_ENV=py27-django18-graphicsmagick APT=graphicsmagick
  - TOX_ENV=py27-django18-redis
  - TOX_ENV=py27-django18-wand
  - TOX_ENV=py27-django18-pgmagick APT='libgraphicsmagick++1-dev libboost-python-dev'
  - TOX_ENV=py27-django18-dbm
  - TOX_ENV=py34-django18-pil APT='libjpeg62 libjpeg62-dev zlib1g-dev'
  - TOX_ENV=py34-django18-imagemagick APT=imagemagick
  - TOX_ENV=py34-django18-graphicsmagick APT=graphicsmagick
  - TOX_ENV=py34-django18-redis
  - TOX_ENV=py34-django18-wand
  - TOX_ENV=py34-django18-dbm
  - TOX_ENV=py34-django19-pil APT='libjpeg62 libjpeg62-dev zlib1g-dev'
  - TOX_ENV=py34-django19-imagemagick APT=imagemagick
  - TOX_ENV=py34-django19-graphicsmagick APT=graphicsmagick
  - TOX_ENV=py34-django19-redis
  - TOX_ENV=py34-django19-wand
  - TOX_ENV=py34-django19-dbm
  - TOX_ENV=py34-django110-pil APT='libjpeg62 libjpeg62-dev zlib1g-dev'
  - TOX_ENV=py34-django110-imagemagick APT=imagemagick
  - TOX_ENV=py34-django110-graphicsmagick APT=graphicsmagick
  - TOX_ENV=py34-django110-redis
  - TOX_ENV=py34-django110-wand
  - TOX_ENV=py34-django110-dbm

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq $APT

after_failure:
  - cat /home/travis/.pip/pip.log

# after_success:
#  - coveralls

install:
  - pip install pip wheel
#  - pip install -q coveralls flake8 tox
  - pip install -q flake8 tox

script:
  - env | sort
  - tox -e $TOX_ENV
  - flake8 --show-source sorl/

services:
  - redis-server

notifications:
  irc:
    channels:
      - "irc.freenode.org#sorl-thumbnail"
    on_success: change
    on_failure: change
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/b368c47d69637f9a01a0
    on_success: change
    on_failure: change
    on_start: false     # default: false
