include LICENSE
include MANIFEST.in
include README
include docs/_static
include docs/_templates
include docs/conf.py
include docs/index.rst
include docs/make.bat
include docs/Makefile
recursive-include sorl *
