[run]
source = sorl
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:

omit =
    */sorl-thumbnail/sorl/__init__.py
    */sorl/thumbnail/__init__.py
    */sorl/thumbnail/conf/__init__.py
    */sorl/thumbnail/admin/compat.py
    */sorl/thumbnail/admin/__init__.py
    */sorl/thumbnail/compat.py
